---
import fs from "node:fs";
import path from "node:path";
import DataTable from "@components/DataTable.astro";
import { formatCreatedTime } from "@utils/date";
import { escapeHtml } from "@utils/html";
import { parseCSV } from "@utils/csv";

const csvPath = path.join(process.cwd(), "content/bilibili-dump/bilibili-dump.csv");
const csvText = fs.readFileSync(csvPath, "utf-8");

interface VideoEntry {
  Name: string;
  "Created time": string;
  Tags: string;
  URL: string;
  author: string;
  "author homepage": string;
}

const entries = parseCSV<VideoEntry>(csvText);
---

<div class="bilibili-dump">
  <DataTable
    data={entries}
    defaultSort={[{ key: "Tags", asc: true }, { key: "Created time", asc: false }]}
    columns={[
      {
        key: "Name",
        label: "Name",
        render: (row) =>
          `<a href="${row.URL}" target="_blank" rel="noopener" class="bd-link">${escapeHtml(row.Name)}</a>`,
        className: "col-name",
      },
      {
        key: "author",
        label: "Author",
        render: (row) =>
          `<a href="${row["author homepage"]}" target="_blank" rel="noopener" class="bd-author">${escapeHtml(row.author)}</a>`,
        className: "col-author",
      },
      {
        key: "Tags",
        label: "Tags",
        className: "col-tags",
      },
      {
        key: "Created time",
        label: "Date",
        type: "date",
        format: (v) => formatCreatedTime(v),
        className: "col-date",
      },
    ]}
  />
</div>

<style is:global>
  .bilibili-dump td.col-name {
    min-width: 200px;
  }
  .bilibili-dump td.col-name .bd-link {
    color: var(--gray);
    text-decoration: none;
  }
  .bilibili-dump td.col-name .bd-link:hover {
    color: var(--dark-mint);
    text-decoration: underline;
  }
  .bilibili-dump td.col-author .bd-author {
    color: var(--gray);
    text-decoration: none;
    white-space: nowrap;
  }
  .bilibili-dump td.col-author .bd-author:hover {
    color: var(--dark-mint);
    text-decoration: underline;
  }
  .bilibili-dump td.col-tags {
    white-space: nowrap;
    color: var(--gray);
  }
  .bilibili-dump td.col-date {
    color: var(--gray);
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    white-space: nowrap;
    min-width: 5.5rem;
    text-align: right;
  }
</style>
