---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '@layouts/Layout.astro';
import { formatCreatedTime } from '@utils/date';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.data.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost title={post.data.title}>
	<p class="mb-3" style="color: var(--gray); font-size: 0.9rem;">
		Created At {formatCreatedTime(post.data['created-time'])}
		{post.data['updated-time'] && 'Updated At ' + formatCreatedTime(post.data['updated-time'])}
	</p>
	<Content />
</BlogPost>