/* Page-specific styles for 13-russia-story.mdx */

/* Character grid */
.charGrid {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: auto;
}