---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => {
  return new Date(b.data['created-time']).getTime() - new Date(a.data['created-time']).getTime();
});
---

<Layout title="Index">
<h1>Index</h1>
<ul>
  {posts.map(post => <li>
    <a href={`/posts/${post.data.slug}/`}>{post.data.title}</a>
    
</li>)}
</ul>
</Layout>
