---
import Layout from '@layouts/Layout.astro';
import BlogList from '@components/BlogList.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => {
  return new Date(b.data['created-time']).getTime() - new Date(a.data['created-time']).getTime();
});
---

<Layout title="Index">
<h1>Index</h1>
<BlogList posts={posts} basePath="/posts" />
</Layout>
<style>
 h1 {
  margin-inline: 1rem;
}
</style>